<?xml version="1.0"?>
<robot name="r1">
  <link name="pelvis">
    <inertial>
      <origin xyz="0.0269881 0.000184581 -0.0704106" rpy="1.57590169 -0.142616384 0.00121364611"/>
      <mass value="2.25001"/>
      <inertia ixx="0.00646721" iyy="0.00620017" izz="0.00381749" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="pelvis_collision"><origin xyz="0.03 0 -0.08" rpy="0 0 0"/><geometry><sphere radius="0.05"/></geometry></collision>
  </link>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="-0.003907 0.0415 -0.043716" rpy="0.377974568 0.00564290288 0.194390013"/>
      <mass value="0.935482"/>
      <inertia ixx="0.00105051" iyy="0.000997373" izz="0.000565117" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="-0.008002 -0.00206 -0.032798" rpy="-0.351767571 0.747647312 -0.0547921066"/>
      <mass value="0.207609"/>
      <inertia ixx="0.000298715" iyy="0.000236156" izz="0.000181129" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_hip_collision"><origin xyz="-0.025 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.03" length="0.05"/></geometry></collision>
  </link>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.010059 -0.004848 -0.093609" rpy="0.176562913 0.0575117123 1.72750099"/>
      <mass value="1.73967"/>
      <inertia ixx="0.0083895" iyy="0.00828665" izz="0.00127385" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_thigh_collision"><origin xyz="0 0 -0.075" rpy="0 0 0"/><geometry><cylinder radius="0.03" length="0.1"/></geometry></collision>
  </link>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="-0.00946428 -0.0182147 -0.135746" rpy="0.0292439619 0.055442988 1.64870068"/>
      <mass value="2.37477"/>
      <inertia ixx="0.0128449" iyy="0.0125305" izz="0.00195841" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_shin_collision"><origin xyz="0.0025 -0.02 -0.125" rpy="0 0.165148677 0"/><geometry><cylinder radius="0.035" length="0.152069063"/></geometry></collision>
    <collision name="left_linkage_brace_collision"><origin xyz="-0.0125 -0.02 -0.29" rpy="0 0.0831412319 0"/><geometry><cylinder radius="0.015" length="0.0602079729"/></geometry></collision>
  </link>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.000104 0 -0.00772" rpy="0 0 1.57079633"/>
      <mass value="0.071231"/>
      <inertia ixx="1.2e-05" iyy="7e-06" izz="7e-06" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.0296647 0 -0.0326975" rpy="3.14159265 -1.48296523 0"/>
      <mass value="0.481688"/>
      <inertia ixx="0.00126935" iyy="0.00121244" izz="0.000230475" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_foot1_collision"><origin xyz="0.075 -0.025 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.05"/></geometry></collision>
    <collision name="left_foot2_collision"><origin xyz="0.0425 -0.02 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.145"/></geometry></collision>
    <collision name="left_foot3_collision"><origin xyz="0.041 -0.01 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.158"/></geometry></collision>
    <collision name="left_foot4_collision"><origin xyz="0.0415 0 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.163"/></geometry></collision>
    <collision name="left_foot5_collision"><origin xyz="0.041 0.01 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.158"/></geometry></collision>
    <collision name="left_foot6_collision"><origin xyz="0.0425 0.02 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.145"/></geometry></collision>
    <collision name="left_foot7_collision"><origin xyz="0.075 0.025 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.05"/></geometry></collision>
  </link>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="-0.003907 -0.0415 -0.043716" rpy="-0.377974568 0.00564290288 -0.194390013"/>
      <mass value="0.935482"/>
      <inertia ixx="0.00105051" iyy="0.000997373" izz="0.000565117" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.008002 0.00206 -0.032798" rpy="0.351767571 0.747647312 0.0547921066"/>
      <mass value="0.207609"/>
      <inertia ixx="0.000298715" iyy="0.000236156" izz="0.000181129" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_hip_collision"><origin xyz="-0.025 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.03" length="0.05"/></geometry></collision>
  </link>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.010059 0.004848 -0.093609" rpy="0.176562913 -0.0575117123 1.41409167"/>
      <mass value="1.73967"/>
      <inertia ixx="0.0083895" iyy="0.00828665" izz="0.00127385" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_thigh_collision"><origin xyz="0 0 -0.075" rpy="0 0 0"/><geometry><cylinder radius="0.03" length="0.1"/></geometry></collision>
  </link>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.00946428 0.0182147 -0.135746" rpy="0.0292439619 -0.055442988 1.49289198"/>
      <mass value="2.37477"/>
      <inertia ixx="0.0128449" iyy="0.0125305" izz="0.00195841" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_shin_collision"><origin xyz="0.0025 0.02 -0.125" rpy="0 0.165148677 0"/><geometry><cylinder radius="0.035" length="0.152069063"/></geometry></collision>
    <collision name="right_linkage_brace_collision"><origin xyz="-0.0125 0.02 -0.29" rpy="0 0.0831412319 0"/><geometry><cylinder radius="0.015" length="0.0602079729"/></geometry></collision>
  </link>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.000104 0 -0.00772" rpy="0 0 1.57079633"/>
      <mass value="0.071231"/>
      <inertia ixx="1.2e-05" iyy="7e-06" izz="7e-06" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.0296647 0 -0.0326975" rpy="3.14159265 -1.48296523 0"/>
      <mass value="0.481688"/>
      <inertia ixx="0.00126935" iyy="0.00121244" izz="0.000230475" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_foot1_collision"><origin xyz="0.075 -0.025 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.05"/></geometry></collision>
    <collision name="right_foot2_collision"><origin xyz="0.0425 -0.02 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.145"/></geometry></collision>
    <collision name="right_foot3_collision"><origin xyz="0.041 -0.01 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.158"/></geometry></collision>
    <collision name="right_foot4_collision"><origin xyz="0.0415 0 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.163"/></geometry></collision>
    <collision name="right_foot5_collision"><origin xyz="0.041 0.01 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.158"/></geometry></collision>
    <collision name="right_foot6_collision"><origin xyz="0.0425 0.02 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.145"/></geometry></collision>
    <collision name="right_foot7_collision"><origin xyz="0.075 0.025 -0.045" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.01" length="0.05"/></geometry></collision>
  </link>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0.030601 0 0.004788" rpy="0 -0.00781186277 0"/>
      <mass value="0.920736"/>
      <inertia ixx="0.000806008" iyy="0.000734" izz="0.000677992" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="torso_link">
    <inertial>
      <origin xyz="0.000409289 -0.000333222 0.181216" rpy="-0.00066437354 0.00364420115 -0.00723685687"/>
      <mass value="7.3387"/>
      <inertia ixx="0.110151" iyy="0.10028" izz="0.0271256" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="torso_collision"><origin xyz="-0.02 0 0.125" rpy="3.14159265 0 0"/><geometry><cylinder radius="0.08" length="0.05"/></geometry></collision>
    <collision name="head_collision"><origin xyz="0.015 0 0.35" rpy="0 0 0"/><geometry><sphere radius="0.055"/></geometry></collision>
  </link>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.00294386 0.0447687 -0.0228687" rpy="0.625407247 -0.287803737 0.185856879"/>
      <mass value="0.83795"/>
      <inertia ixx="0.000664554" iyy="0.000644431" izz="0.000530845" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.037828 0.003967 -0.066496" rpy="-0.234384523 -0.0431201801 1.56778933"/>
      <mass value="0.740212"/>
      <inertia ixx="0.00108994" iyy="0.000995148" izz="0.000547915" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.013143 -0.004355 -0.072948" rpy="-0.231853416 -0.1683204 0.62751538"/>
      <mass value="0.738441"/>
      <inertia ixx="0.000862551" iyy="0.000851784" izz="0.000435665" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_shoulder_yaw_collision"><origin xyz="0 0 0.035" rpy="3.14159265 0 0"/><geometry><cylinder radius="0.03" length="0.13"/></geometry></collision>
  </link>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.072371 -0.024612 -0.011566" rpy="1.64492337 0.124396488 1.17531677"/>
      <mass value="0.759419"/>
      <inertia ixx="0.000969031" iyy="0.000938046" izz="0.000470923" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_elbow_collision"><origin xyz="0.05 -0.025 -0.01" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.03" length="0.07"/></geometry></collision>
  </link>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.068045 -0.001688 0.001392" rpy="1.55155319 -0.273737377 1.53475377"/>
      <mass value="0.324767"/>
      <inertia ixx="0.000717953" iyy="0.000704181" izz="0.000156865" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="left_hand_collision"><origin xyz="0.085 0 0" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.03" length="0.07"/></geometry></collision>
  </link>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.00294386 -0.0447687 -0.0228687" rpy="-0.625407247 -0.287803737 -0.185856879"/>
      <mass value="0.83795"/>
      <inertia ixx="0.000664554" iyy="0.000644431" izz="0.000530845" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.037828 -0.003967 -0.066496" rpy="-0.234384523 0.0431201801 1.57380333"/>
      <mass value="0.740212"/>
      <inertia ixx="0.00108994" iyy="0.000995148" izz="0.000547915" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.013143 0.004355 -0.072948" rpy="0.231853416 -0.1683204 -0.62751538"/>
      <mass value="0.738441"/>
      <inertia ixx="0.000862551" iyy="0.000851784" izz="0.000435665" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_shoulder_yaw_collision"><origin xyz="0 0 0.035" rpy="3.14159265 0 0"/><geometry><cylinder radius="0.03" length="0.13"/></geometry></collision>
  </link>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.072371 0.024612 -0.011566" rpy="1.64492337 -0.124396488 1.96627588"/>
      <mass value="0.759419"/>
      <inertia ixx="0.000969031" iyy="0.000938046" izz="0.000470923" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_elbow_collision"><origin xyz="0.05 0.025 -0.01" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.03" length="0.07"/></geometry></collision>
  </link>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.068045 0.001688 0.001392" rpy="1.55155319 0.273737377 1.60683889"/>
      <mass value="0.324767"/>
      <inertia ixx="0.000717953" iyy="0.000704181" izz="0.000156865" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="right_hand_collision"><origin xyz="0.085 0 0" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.03" length="0.07"/></geometry></collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <parent link="pelvis"/><child link="left_hip_pitch_link"/>
    <origin xyz="0.0325 0.0704672 -0.0902351" rpy="-0.43633307 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.93215" upper="2.54818" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="left_hip_roll_joint" type="revolute">
    <parent link="left_hip_pitch_link"/><child link="left_hip_roll_link"/>
    <origin xyz="0.0248 0.045 -0.053" rpy="0.43633307 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.0472" upper="1.74533" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="left_hip_yaw_joint" type="revolute">
    <parent link="left_hip_roll_link"/><child link="left_hip_yaw_link"/>
    <origin xyz="-0.0194507 -0.0006 -0.0618" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.7402" upper="2.7402" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="left_knee_joint" type="revolute">
    <parent link="left_hip_yaw_link"/><child link="left_knee_link"/>
    <origin xyz="-0.02315 0.01866 -0.159301" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.174533" upper="2.42601" effort="139.0" velocity="50.0"/>
  </joint>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <parent link="left_knee_link"/><child link="left_ankle_pitch_link"/>
    <origin xyz="-0.0168139 -0.0205811 -0.309175" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.87266" upper="0.57596" effort="50.0" velocity="50.0"/>
  </joint>
  <joint name="left_ankle_roll_joint" type="revolute">
    <parent link="left_ankle_pitch_link"/><child link="left_ankle_roll_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.2618" upper="0.2618" effort="50.0" velocity="50.0"/>
  </joint>
  <joint name="right_hip_pitch_joint" type="revolute">
    <parent link="pelvis"/><child link="right_hip_pitch_link"/>
    <origin xyz="0.0325 -0.0704672 -0.0902351" rpy="0.43633307 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.93215" upper="2.54818" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="right_hip_roll_joint" type="revolute">
    <parent link="right_hip_pitch_link"/><child link="right_hip_roll_link"/>
    <origin xyz="0.0248 -0.045 -0.053" rpy="-0.43633307 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.74533" upper="1.0472" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="right_hip_yaw_joint" type="revolute">
    <parent link="right_hip_roll_link"/><child link="right_hip_yaw_link"/>
    <origin xyz="-0.0194507 0.0006 -0.0618" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.7402" upper="2.7402" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="right_knee_joint" type="revolute">
    <parent link="right_hip_yaw_link"/><child link="right_knee_link"/>
    <origin xyz="-0.02315 -0.01866 -0.159301" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.17453" upper="2.42601" effort="139.0" velocity="50.0"/>
  </joint>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <parent link="right_knee_link"/><child link="right_ankle_pitch_link"/>
    <origin xyz="-0.0168139 0.0205811 -0.309175" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.87266" upper="0.57596" effort="50.0" velocity="50.0"/>
  </joint>
  <joint name="right_ankle_roll_joint" type="revolute">
    <parent link="right_ankle_pitch_link"/><child link="right_ankle_roll_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.261799" upper="0.261799" effort="50.0" velocity="50.0"/>
  </joint>
  <joint name="waist_roll_joint" type="revolute">
    <parent link="pelvis"/><child link="waist_roll_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.5236" upper="0.5236" effort="50.0" velocity="50.0"/>
  </joint>
  <joint name="waist_yaw_joint" type="revolute">
    <parent link="waist_roll_link"/><child link="torso_link"/>
    <origin xyz="0.0325 0 0.049" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.618" upper="2.618" effort="88.0" velocity="50.0"/>
  </joint>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <parent link="torso_link"/><child link="left_shoulder_pitch_link"/>
    <origin xyz="0 0.085688 0.19749" rpy="0.261869677 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1416" upper="2.0944" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <parent link="left_shoulder_pitch_link"/><child link="left_shoulder_roll_link"/>
    <origin xyz="0.03445 0.047132 -0.025693" rpy="-0.261869677 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.22689" upper="2.4784" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <parent link="left_shoulder_roll_link"/><child link="left_shoulder_yaw_link"/>
    <origin xyz="-0.03445 0.0043 -0.10835" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.9199" upper="1.9199" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="left_elbow_joint" type="revolute">
    <parent link="left_shoulder_yaw_link"/><child link="left_elbow_link"/>
    <origin xyz="0.016191 0.026461 -0.082858" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.97564" upper="2.1852" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="left_wrist_roll_joint" type="revolute">
    <parent link="left_elbow_link"/><child link="left_wrist_roll_link"/>
    <origin xyz="0.11218 -0.03002 -0.011702" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.9199" upper="1.9199" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <parent link="torso_link"/><child link="right_shoulder_pitch_link"/>
    <origin xyz="0 -0.085688 0.19749" rpy="-0.261869677 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1416" upper="2.0944" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <parent link="right_shoulder_pitch_link"/><child link="right_shoulder_roll_link"/>
    <origin xyz="0.03445 -0.047132 -0.025693" rpy="0.261869677 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.47849" upper="0.2268" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <parent link="right_shoulder_roll_link"/><child link="right_shoulder_yaw_link"/>
    <origin xyz="-0.03445 -0.0043 -0.10835" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.9199" upper="1.9199" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="right_elbow_joint" type="revolute">
    <parent link="right_shoulder_yaw_link"/><child link="right_elbow_link"/>
    <origin xyz="0.016191 -0.026461 -0.082858" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.97564" upper="2.1852" effort="25.0" velocity="50.0"/>
  </joint>
  <joint name="right_wrist_roll_joint" type="revolute">
    <parent link="right_elbow_link"/><child link="right_wrist_roll_link"/>
    <origin xyz="0.11218 0.03002 -0.011702" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-1.9199" upper="1.9199" effort="25.0" velocity="50.0"/>
  </joint>
</robot>