##########################################
#             code ownership
##########################################

Part-1/ mortiz5@ccny.cuny.edu
Part-2/ sli3@ccny.cuny.edu
Part-3/ cpascalvasquez@ccny.cuny.edu

# app/config/another-secret-token.txt cto@example.com
