##########################################
#             code ownership
##########################################

Part-1/ mortiz5
Part-2/ sqlhhh
Part-3/ CAPV-ai

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
